In [1]:
import numpy as np
import pandas as pd

In [2]:
ironman = pd.Series([0.11,0.22,0.33,0.44])
ironman

0    0.11
1    0.22
2    0.33
3    0.44
dtype: float64

In [6]:
print('ironman.values

array([0.11, 0.22, 0.33, 0.44])

In [7]:
ironman.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
ironman = pd.Series([0.11,0.22,0.33,0.44], index=['a','b','c','d'])
ironman

a    0.11
b    0.22
c    0.33
d    0.44
dtype: float64

In [10]:
dic_ironman = {
    'a': 11,
    'b': 22,
    'c': 33
}
ironman = pd.Series(dic_ironman)
ironman

a    11
b    22
c    33
dtype: int64

In [2]:
number = pd.Series({'taipei':200, 'taichung': 300, 'changhua': 400, 'kaohsiung' : 150})
mayor = pd.Series({'taipei': 'Kui', 'taichung': 'Ha', 'changhua': 'Chin', 'kaohsiung' : 'Lui'})
ironman = pd.DataFrame({'number':number, 'mayor':mayor})
ironman

           number mayor
taipei        200   Kui
taichung      300    Ha
changhua      400  Chin
kaohsiung     150   Lui

In [3]:
ironman.columns

Index(['number', 'mayor'], dtype='object')

In [5]:
pd.DataFrame(number, columns=['number'])

           number
taipei        200
taichung      300
changhua      400
kaohsiung     150

In [6]:
pd.DataFrame({'number':{'taipei':200, 'taichung': 300, 'changhua': 400, 'kaohsiung' : 150}})

           number
changhua      400
kaohsiung     150
taichung      300
taipei        200

In [7]:
team =np.zeros(4, dtype={'names':('name','number','team'),'formats':('U10','i2','U10')})
team['name'] =['彭政閔','林智勝','蘇偉達','陽耀勳']
team['number'] = [23,32,96,23]
team['team'] = ['兄弟象','兄弟象','兄弟象','lamigo']
pd.DataFrame(team)

  name  number    team
0  彭政閔      23     兄弟象
1  林智勝      32     兄弟象
2  蘇偉達      96     兄弟象
3  陽耀勳      23  lamigo

In [8]:
ironman = pd.Index([0.11,0.22,0.33,0.44])
ironman

Float64Index([0.11, 0.22, 0.33, 0.44], dtype='float64')

In [9]:
ironman[0] = 0.55

TypeError: Index does not support mutable operations

In [10]:
ironman = pd.Index([0.55,0.22,0.33,0.44])
ironman

Float64Index([0.55, 0.22, 0.33, 0.44], dtype='float64')

In [11]:
ironman = pd.Series([0.11,0.22,0.33,0.44], index=['a','b','c','d'])
ironman['a':'c']  #切片方式

a    0.11
b    0.22
c    0.33
dtype: float64

In [13]:
ironman[0:3]  #使用隱含的整數索引來切片

a    0.11
b    0.22
c    0.33
dtype: float64

In [15]:
ironman[ironman > 0.22]

c    0.33
d    0.44
dtype: float64

In [16]:
ironman[['a','d']]

a    0.11
d    0.44
dtype: float64

In [19]:
ironman = pd.Series([0.11,0.22,0.33,0.44], index=[1,3,5,7])
ironman[1:3]

3    0.22
5    0.33
dtype: float64

In [20]:
ironman.loc[1:3]

1    0.11
3    0.22
dtype: float64

In [21]:
ironman.iloc[1:3]

3    0.22
5    0.33
dtype: float64

In [34]:
number = pd.Series({'taipei':200, 'taichung': 300, 'changhua': 400, 'kaohsiung' : 150})
area = pd.Series({'taipei': 22, 'taichung': 25, 'changhua': 35, 'kaohsiung' : 10})
ironman = pd.DataFrame({'number':number, 'area':area})
ironman['divided'] = ironman['number'] / ironman['area']
ironman

           number  area    divided
taipei        200    22   9.090909
taichung      300    25  12.000000
changhua      400    35  11.428571
kaohsiung     150    10  15.000000

In [23]:
ironman.T

             taipei  taichung    changhua  kaohsiung
number   200.000000     300.0  400.000000      150.0
area      22.000000      25.0   35.000000       10.0
divided    9.090909      12.0   11.428571       15.0

In [36]:
ironman.iloc[:2,:2]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [35]:
ironman.loc[ironman.divided > 12]

           number  area  divided
kaohsiung     150    10     15.0

In [39]:
ironman_series = pd.Series({'a':-50, 'b': 20, 'c': -30, 'd' : 22, 'e' : -40})
ironman_series2 = pd.Series({'a':12, 'b': -15, 'c': -10, 'd' : -31, 'e' : 20})
ironman_dataFrame = pd.DataFrame({'column1':ironman_series,'column2':ironman_series2 })
print(np.abs(ironman_series))
print(np.abs(ironman_dataFrame))

a    50
b    20
c    30
d    22
e    40
dtype: int64
   column1  column2
a       50       12
b       20       15
c       30       10
d       22       31
e       40       20

In [42]:
ironman_series = pd.Series({'a':-50, 'b': 20, 'c': -30, 'd' : 22, 'e' : -40})
ironman_series2 = pd.Series({'a':12, 'c': -15, 'd': -10, 'f' : -31, 'g' : 20})
ironman_series.add(ironman_series2)

a   -38.0
b     NaN
c   -45.0
d    12.0
e     NaN
f     NaN
g     NaN
dtype: float64

In [41]:
ironman_series.add(ironman_series2, fill_value = 0)

a   -38.0
b    20.0
c   -45.0
d    12.0
e   -40.0
f   -31.0
g    20.0
dtype: float64