In [2]:
import numpy as np
import pandas as pd

In [17]:
def make_dataFrame(cols, ind):
    data = {c:[str(c) + str(i) for i in ind]
                               for c in cols}
    return pd.DataFrame(data, ind)
make_df('ABC', range(3))

{'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2'], 'C': ['C0', 'C1', 'C2']}

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [5]:
ironman1 = pd.Series(['A','B','C'], index=[0,1,2])
ironman2 = pd.Series(['D','E','F'], index=[2,3,4])
pd.concat([ironman1,ironman2])

0    A
1    B
2    C
2    D
3    E
4    F
dtype: object

In [9]:
ironman3 = make_dataFrame('AB',[1,2])
ironman4 = make_dataFrame('AB',[3,4])
pd.concat([ironman3,ironman4])

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [14]:
ironman5 = make_dataFrame('BC',[3,4])
print(ironman3)
print(ironman5)
print(pd.concat([ironman3,ironman5], join='inner'))

    A   B
1  A1  B1
2  A2  B2
    B   C
3  B3  C3
4  B4  C4
    B
1  B1
2  B2
3  B3
4  B4

In [15]:
ironman1.append(ironman2)

0    A
1    B
2    C
2    D
3    E
4    F
dtype: object

In [22]:
ironman6 = pd.DataFrame({'player':['彭政閔','林智勝','郭阜林','詹子賢'],
                        'number':[23,32,5,39]})
ironman7 = pd.DataFrame({'player':['彭政閔','郭阜林','林智勝','詹子賢'],
                        'team':['兄弟象','統一獅','兄弟象','兄弟象']})
ironman8 = pd.merge(ironman6, ironman7)
ironman8

  player  number team
0    彭政閔      23  兄弟象
1    林智勝      32  兄弟象
2    郭阜林       5  統一獅
3    詹子賢      39  兄弟象

In [24]:
ironman9 = pd.DataFrame({'team':['兄弟象','統一獅','lamigo','富邦悍將'],
                        'manager':['Snyder','黃甘霖','洪一中','陳連宏']})
ironman10 = pd.merge(ironman8, ironman9)
ironman10

  player  number team manager
0    彭政閔      23  兄弟象  Snyder
1    林智勝      32  兄弟象  Snyder
2    詹子賢      39  兄弟象  Snyder
3    郭阜林       5  統一獅     黃甘霖

In [25]:
ironman11 = pd.DataFrame({'team':['兄弟象','兄弟象','統一獅','lamigo','富邦悍將'],
                        'coach':['伯　納','丘昌榮','高政華','吳俊良','林宗男']})
ironman12 = pd.merge(ironman8, ironman11)
ironman12

  player  number team coach
0    彭政閔      23  兄弟象   伯　納
1    彭政閔      23  兄弟象   丘昌榮
2    林智勝      32  兄弟象   伯　納
3    林智勝      32  兄弟象   丘昌榮
4    詹子賢      39  兄弟象   伯　納
5    詹子賢      39  兄弟象   丘昌榮
6    郭阜林       5  統一獅   高政華

In [33]:
ironman6 = pd.DataFrame({'player':['彭政閔','林智勝','郭阜林','詹子賢'],
                        'number':[23,32,5,39]})
ironman13 = pd.DataFrame({'name':['彭政閔','郭阜林','林智勝','詹子賢'],
                        'team':['兄弟象','統一獅','兄弟象','兄弟象']})
pd.merge(ironman6, ironman13, left_on="player", right_on="name").drop('name',axis=1)

  player  number team
0    彭政閔      23  兄弟象
1    林智勝      32  兄弟象
2    郭阜林       5  統一獅
3    詹子賢      39  兄弟象

In [7]:
ironman6 = pd.DataFrame({'player':['彭政閔','林智勝','郭阜林','詹子賢'],
                        'number':[23,32,5,39]})
ironman14 = pd.DataFrame({'player':['彭政閔','林智勝','張志豪',"藍寅倫"],
                        'team':['兄弟象','兄弟象','兄弟象','lamigo']})
pd.merge(ironman6, ironman14, how="right")

  player  number    team
0    彭政閔    23.0     兄弟象
1    林智勝    32.0     兄弟象
2    張志豪     NaN     兄弟象
3    藍寅倫     NaN  lamigo

In [10]:
ironman6 = pd.DataFrame({'player':['彭政閔','林智勝','陳江和','張正偉'],
                        'number':[23,32,31,8]})
ironman15 = pd.DataFrame({'player':['彭政閔','林智勝','陳江和','張正偉'],
                        'number':[23,31,8,59]})
pd.merge(ironman6,ironman15, on="player", suffixes=["_職棒","_國家隊"])

  player  number_職棒  number_國家隊
0    彭政閔         23          23
1    林智勝         32          31
2    陳江和         31           8
3    張正偉          8          59