In [1]:
import numpy as np
import pandas as pd
ironman = np.array([1,None,3,4])
ironman

array([1, None, 3, 4], dtype=object)

In [3]:
ironman.min()

TypeError: '<=' not supported between instances of 'int' and 'NoneType'

In [5]:
ironman = np.array([1,np.nan,3,4])
ironman.dtype

dtype('float64')

In [6]:
np.nansum(ironman),np.nanmin(ironman),np.nanmax(ironman)

(8.0, 1.0, 4.0)

In [7]:
ironman = pd.Series([1,np.nan,3,4,None])
ironman.isnull()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [8]:
ironman[ironman.notnull()]

0    1.0
2    3.0
3    4.0
dtype: float64

In [11]:
ironman = pd.DataFrame([
    [1,np.nan,3],
    [4,5,6],
    [7,8,np.nan]])
ironman.dropna()

   0    1    2
1  4  5.0  6.0

In [18]:
ironman = pd.Series([1,np.nan,3,4,None])
ironman.fillna(0)

0    1.0
1    0.0
2    3.0
3    4.0
4    0.0
dtype: float64

In [2]:
index = [('Taichung',2018),('Taichung',2017),
         ('Changhua',2018),('Changhua',2017),
         ('Taipei',2018),('Taipei',2017),
         ('Kaohsiung',2018),('Kaohsiung',2017)]
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex(levels=[['Changhua', 'Kaohsiung', 'Taichung', 'Taipei'], [2017, 2018]],
           labels=[[2, 2, 0, 0, 3, 3, 1, 1], [1, 0, 1, 0, 1, 0, 1, 0]])

In [29]:
elementary = [
    800,780,
    620,580,
    1500,1350,
    1100,998
]
ironman = pd.Series(elementary, index=index)
ironman

area       year
Taichung   2018     800
           2017     780
Changhua   2018     620
           2017     580
Taipei     2018    1500
           2017    1350
Kaohsiung  2018    1100
           2017     998
dtype: int64

In [33]:
ironman[:,2017]
ironman[ironman > 600]               #遮罩
ironman[['Changhua','Kaohsiung']]    #fancy索引

area       year
Changhua   2018     620
           2017     580
Kaohsiung  2018    1100
           2017     998
dtype: int64

In [5]:
ironman_unstack = ironman.unstack()
ironman_unstack

           2017  2018
Changhua    580   620
Kaohsiung   998  1100
Taichung    780   800
Taipei     1350  1500

In [8]:
ironman.index.names = ['area','year']
ironman

area       year
Taichung   2018     800
           2017     780
Changhua   2018     620
           2017     580
Taipei     2018    1500
           2017    1350
Kaohsiung  2018    1100
           2017     998
dtype: int64

In [38]:
ironmanIndex = pd.MultiIndex.from_product([[2017, 2016, 2018], [1, 2]],names=['year','enroll'])
ironmanColumns = pd.MultiIndex.from_product([['azure','ai&data','web'], ['自我挑戰組', '主題競賽']],names=['subject','type'])
number = np.random.randint(50, size=(6,6))

ironmanNumber = pd.DataFrame(number, index = ironmanIndex, columns=ironmanColumns )
ironmanNumber

subject     azure      ai&data        web
type        自我挑戰組 主題競賽   自我挑戰組 主題競賽 自我挑戰組 主題競賽
year enroll
2017 1         44    6       6   33    29    6
     2          3   24      14    7     9    0
2016 1         45   18      10   36    43   27
     2         42   23      44   21    17   34
2018 1         29   22      42   29     4   12
     2          6    5      31    9    48    4

In [39]:
ironmanNumber.sort_index()

subject     azure      ai&data        web
type        自我挑戰組 主題競賽   自我挑戰組 主題競賽 自我挑戰組 主題競賽
year enroll
2016 1         45   18      10   36    43   27
     2         42   23      44   21    17   34
2017 1         44    6       6   33    29    6
     2          3   24      14    7     9    0
2018 1         29   22      42   29     4   12
     2          6    5      31    9    48    4

In [40]:
ironmanNumber.mean(level='year')

subject azure       ai&data         web
type    自我挑戰組  主題競賽   自我挑戰組  主題競賽 自我挑戰組  主題競賽
year
2017     23.5  15.0    10.0  20.0  19.0   3.0
2016     43.5  20.5    27.0  28.5  30.0  30.5
2018     17.5  13.5    36.5  19.0  26.0   8.0